[submodule "tmux"]
	path = tmux
	url = https://github.com/danxuZhang/tmux.config.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/danxuZhang/nvim.config.git
[submodule "kitty/catppuccin"]
	path = kitty/catppuccin
	url = https://github.com/catppuccin/kitty.git
